<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title> Bienvenido a www.ejemplo.com </title>
</head>
<body>
	<h1>Servidor: Centos </h1>
	<p>Direccion IP: 192.168.1.10 </p>
</body>
</html>
